<div *ngFor="let careTeam of careTeams" >
  {{careTeam.name}}
</div>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <pf-image
                class="profile-image"
                [rounded]="true"
                fallbackSrc="assets/img/default-profile.png"
                alt="User profile"
                width="100"
                height="100"
              />
            </div>
            <h3 class="profile-username text-center">
              {{ carePerson?.name }}
            </h3>
            <p class="text-muted text-center">{{ carePerson?.id }} (病患ID加入團隊用)</p>
            <p class="text-muted text-center">主要疾病:高血壓</p>
            <div class="row">
              <div class="col-4 text-muted text-center border">身高：{{ carePerson?.height }}</div>
              <div class="col-4 text-muted text-center border">體重：{{ carePerson?.weight }}</div>
              <div *ngIf="carePerson?.birthday" class="col-4 text-muted text-center border">年齡： {{ (dateYearNow-carePerson?.birthday?.toDate().getFullYear()) }}</div>
              <div *ngIf="!carePerson?.birthday" class="col-4 text-muted text-center border">年齡：空值</div>
            </div>
          </div>
        </div>
      </div>
      <!--col end-->
    </div>
   <!-- row end-->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" href="#" [ngClass]="{ 'active':activeTab==='activity'}" (click)="showTab('activity')" data-toggle="tab">Activity</a></li>
              <li class="nav-item"><a class="nav-link" href="#" [ngClass]="{ 'active':activeTab==='timeline'}" (click)="showTab('timeline')" data-toggle="tab">Timeline</a></li>
              <li class="nav-item"><a class="nav-link" href="#" [ngClass]="{ 'active':activeTab==='settings'}"(click)="showTab('settings')"  data-toggle="tab">Settings</a></li>
            </ul>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane" [ngClass]="{ 'active':activeTab==='activity'}" id="activity">
                <app-activity></app-activity>
              </div>
              <div class="tab-pane" [ngClass]="{ 'active':activeTab==='timeline'}" id="timeline">
                <app-timeline></app-timeline>
              </div>
              <div class="tab-pane" [ngClass]="{ 'active':activeTab==='settings'}" id="settings">
                <app-settings></app-settings>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <app-small-box
          [title]="'認知悠能'"
          [text]="'150'"
          [navigateTo]="'#'"
          [variant]="'info'"
          [icon]="{content: faIdCard}"
        ></app-small-box>
      </div>
      <div class="col-4">
        <app-small-box
          [title]="'生命徵象'"
          [text]="'150'"
          [navigateTo]="'#'"
          [variant]="'secondary'"
          [icon]="{content: faHeartbeat}"
        ></app-small-box>
      </div>
      <div class="col-4">
        <app-small-box
          [title]="'護理交班'"
          [text]="'150'"
          [navigateTo]="'#'"
          [variant]="'primary'"
          [icon]="{content: faFile}"
        ></app-small-box>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <app-small-box
          [title]="'認知悠能'"
          [text]="'150'"
          [navigateTo]="'#'"
          [variant]="'info'"
          [icon]="{content: faIdCard}"
        ></app-small-box>
      </div>
      <div class="col-4">
        <app-small-box
          [title]="'生命徵象'"
          [text]="'150'"
          [navigateTo]="'#'"
          [variant]="'secondary'"
          [icon]="{content: faHeartbeat}"
        ></app-small-box>
      </div>
      <div class="col-4">
        <app-small-box
          [title]="'護理交班'"
          [text]="'150'"
          [navigateTo]="'#'"
          [variant]="'primary'"
          [icon]="{content: faFile}"
        ></app-small-box>
      </div>
    </div>
  </div>
</section>
