<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <div class="row">
              <div class="col-2">
                <a routerLink="/activity/addOne"><span style='font-size:36px' class="fa fa-user-plus"></span></a>
              </div>
              <div class="col-10 form-group" [formGroup]="myGroup">
                <label>{{ 'Activity.SHOW.careThePerson' |translate }}</label>
                <select class="form-control" formControlName="selectCareTeam" #careTeamSelected
                        (change)="onChange(careTeamSelected.value)">
                  <option *ngFor="let careTeam of careTeams" [value]="careTeam.id"
                          [selected]="careTeam.id===carePerson.id">{{ careTeam.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!--card header -->
          <div class="card-body box-profile">
            <div class="text-center">
              <pf-image
                class="profile-image"
                [rounded]="true"
                fallbackSrc="assets/img/default-profile.png"
                alt="User profile"
                width="100"
                height="100"
              />
            </div>
            <h3 class="profile-username text-center">
              {{ carePerson?.name }}
            </h3>
            <p class="text-lg text-center">{{ carePerson?.id }} {{ 'Activity.SHOW.idJoin' | translate }}</p>
            <p class="text-lg text-center">{{ 'Activity.SHOW.disease'|translate }} : {{ primaryDis }}</p>
            <button class="btn btn-primary btn-block" id="AI-recommendation" (click)="func()">護理建議</button>
            <div class="row">
              <div
                class="col-md-4 text-lg text-center border">{{ 'Activity.SHOW.height' |translate }} {{ carePerson?.height }}
              </div>
              <div
                class="col-md-4 text-lg text-center border">{{ 'Activity.SHOW.weight' |translate }} {{ carePerson?.weight }}
              </div>
              <div *ngIf="carePerson?.birthday"
                   class="col-md-4 text-lg text-center border">{{ 'Activity.SHOW.age' |translate }} {{ (dateYearNow - carePerson?.birthday?.toDate().getFullYear()) }}
              </div>
              <div *ngIf="!carePerson?.birthday"
                   class="col-md-4 text-lg text-center border">{{ 'Activity.SHOW.age' |translate }} {{ 'Activity.SHOW.ageNull' |translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--col end-->
    </div>
    <!-- row end-->
    <div class="row">
      <div class="col-sm-4">
        <app-small-box
          [title]="'Activity.SHOW.eat'|translate"
          [text]="'1500 cal'"
          [navigateTo]="'activity/carePerson/'+carePerson.id+'/careGiver/'+careGiver.id+'/edit'"
          [variant]="'info'"
          [icon]="{content: faBowlRice}"
          [buttonInfo]="'Activity.SHOW.record'|translate"
        ></app-small-box>
      </div>
      <div class="col-sm-4">
        <app-small-box
          [title]="'Activity.SHOW.water' |translate"
          [text]="waterIn"
          [navigateTo]="'activity/carePerson/'+carePerson.id+'/careGiver/'+careGiver.id+'/edit'"
          [variant]="'info'"
          [icon]="{content: faGlassWater}"
          [buttonInfo]="'Activity.SHOW.record'|translate"
        ></app-small-box>
      </div>
      <div class="col-sm-4">
        <app-small-box
          [title]="'Activity.SHOW.toilet' |translate"
          [text]="'2次'"
          [navigateTo]="'activity/carePerson/'+carePerson.id+'/careGiver/'+careGiver.id+'/edit'"
          [variant]="'info'"
          [icon]="{content: faRestroom}"
          [buttonInfo]="'Activity.SHOW.record'|translate"
        ></app-small-box>
      </div>
    </div>
    <!--row end -->
    <div class="row">
      <div class="col-sm-4">
        <app-small-box
          [title]="'Activity.SHOW.exercise' |translate"
          [text]="'40分鐘'"
          [navigateTo]="'activity/carePerson/'+carePerson.id+'/careGiver/'+careGiver.id+'/edit'"
          [variant]="'info'"
          [icon]="{content: faPersonWalking}"
          [buttonInfo]="'Activity.SHOW.record'|translate"
        ></app-small-box>
      </div>
      <div class="col-sm-4">
        <app-small-box
          [title]="'Activity.SHOW.vital' |translate"
          [text]="'150'"
          [navigateTo]="'#'"
          [variant]="'secondary'"
          [icon]="{content: faHeartbeat}"
          [buttonInfo]="'Activity.SHOW.record'|translate"
        ></app-small-box>
      </div>
      <div class="col-sm-4">
        <app-small-box
          [title]="'Activity.SHOW.handover' |translate"
          [text]="'150'"
          [navigateTo]="'/activity/isbar-handover'"
          [variant]="'secondary'"
          [icon]="{content: faFile}"
          [buttonInfo]="'Activity.SHOW.record'|translate"
        ></app-small-box>
      </div>
    </div>
    <!--row end -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" [ngClass]="{ 'active':activeTab==='activity'}"
                                      (click)="showTab('activity')" data-toggle="tab">Activity</a></li>
              <li class="nav-item"><a class="nav-link" [ngClass]="{ 'active':activeTab==='timeline'}"
                                      (click)="showTab('timeline')" data-toggle="tab">Timeline</a></li>
              <li class="nav-item"><a class="nav-link" [ngClass]="{ 'active':activeTab==='settings'}"
                                      (click)="showTab('settings')" data-toggle="tab">Settings</a></li>
            </ul>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane" [ngClass]="{ 'active':activeTab==='activity'}" id="activity">
                <form class="form-horizontal">
                  <div class="input-group input-group-sm mb-0">
                    <input
                      class="form-control form-control-sm"
                      placeholder="Message"
                    />
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-danger">Send</button>
                    </div>
                  </div>
                </form>
                <div *ngFor="let act of activities">
                  <app-activity [activity]="act"></app-activity>
                </div>
              </div>
              <div class="tab-pane" [ngClass]="{ 'active':activeTab==='timeline'}" id="timeline">
                <app-timeline></app-timeline>
              </div>
              <div class="tab-pane" [ngClass]="{ 'active':activeTab==='settings'}" id="settings">
                <app-settings></app-settings>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
