<div class="inner" (click)="handleLinkAction()">
    <h4>{{ title }}</h4>
    <h5>{{ text }}</h5>
</div>
<span class="icon" [ngClass]="icon?.variant ? 'bg-' + icon.variant : ''">
    <fa-icon *ngIf="icon?.content" [icon]="icon?.content"></fa-icon>
</span>
<!-- <a [routerLink]="navigateTo">
        <span class="mr-2">More info</span>
        <fa-icon icon="arrow-circle-right"></fa-icon>
    </a> -->
<a class="small-box-footer" (click)="handleLinkAction()">
    <span class="mr-2">{{ buttonInfo }}</span><i class="fa fa-arrow-circle-right"></i
></a>
<app-overlay-loading
    *ngIf="loading"
    [type]="getLoadingPropType()"
></app-overlay-loading>
