<div class="card card-warning">
  <div class="card-header">
    <h3 class="card-title">使用系統前,請輸入個案資料</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col-sm-6">
          <!-- text input -->
          <div class="form-group">
            <label>個案姓名</label>
            <input type="text" [(ngModel)]="carePerson.name" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Enter ...">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>個案年齡</label>
            <input type="text" [(ngModel)]="carePerson.age" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Enter ...">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>團隊名稱</label>
            <input type="text" [(ngModel)]="careTeam.name" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Enter ...">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <button class="btn btn-success" (click)="addModel()">Submit</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <button class="btn btn-success" (click)="test()">Test</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
