<pf-dropdown [hideArrow]="true">
    <div slot="head">
        <a class="nav-link">
            <i id="lang-show" class="flag-icon flag-icon-tw"></i>
        </a>
    </div>
    <div id="select-lang" slot="body">
        <div  (click)="changeLan('zh-TW')" class="dropdown-item">
            <i class="flag-icon flag-icon-tw mr-2"></i>
            <span>Taiwan</span>
        </div>
        <div  (click)="changeLan('en')" class="dropdown-item">
            <i class="flag-icon flag-icon-us mr-2"></i>
            <span>English</span>
        </div>
        <div (click)="changeLan('ja')" class="dropdown-item">
            <i class="flag-icon flag-icon-jp mr-2"></i>
            <span>Japan</span>
        </div>
        <div (click)="changeLan('id')" class="dropdown-item">
            <i class="flag-icon flag-icon-id mr-2"></i>
            <span>ID</span>
        </div>
        <div (click)="changeLan('vi')" class="dropdown-item">
            <i class="flag-icon flag-icon-vn mr-2"></i>
            <span>Va</span>
        </div>
    </div>
</pf-dropdown>
