<div [ngClass]="{post: true, clearfix: true}" class="border-top border-primary">
  <div class="user-block">
    <pf-image
      class="user-image"
      src="assets/img/default-profile.png"
      alt="User"
      width="40"
      height="40"
      [rounded]="true"
    />
    <span class="username">
            <a routerLink="/">{{ careGiver?.name }} - {{careGiver?.role|translate}}</a>
            <a routerLink="/" class="float-right btn-tool">
                <i class="fas fa-times"></i>
            </a>
        </span>
    <span class="description">Shared publicly {{activity.createDate.toDate() |date:'yyyy-MM-dd HH:mm'}}</span>
  </div>
  <p style="white-space: pre-line;">
    {{ message }}
  </p>
  <!--<form class="form-horizontal">
    <div class="input-group input-group-sm mb-0">
      <input
        class="form-control form-control-sm"
        placeholder="Message"
      />
      <div class="input-group-append">
        <button type="submit" class="btn btn-danger">Send</button>
      </div>
    </div>
  </form>-->
</div>
