<!-- Brand Logo -->
<a [routerLink]="['/']" class="brand-link">
  <pf-image
    src="assets/img/logo.png"
    alt="AdminLTE Logo"
    class="brand-image"
    height="32"
    width="32"
    rounded="true"
    style="opacity: 0.8"
  ></pf-image>
  <span class="brand-text font-weight-light">{{ 'signInTitle' | translate }}</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user (optional) -->
  <div
    class="user-panel mt-3 pb-2 d-flex"
    style="justify-content: start; align-items: center"
  >
    <pf-image
      [src]="user.photoURL"
      fallbackSrc="assets/img/default-profile.png"
      style="margin-left: 12px"
      alt="User Image"
      width="34"
      height="34"
      rounded="true"
    />
    <div class="info">
      <a [routerLink]="['/profile']" class="d-block">
        {{ user.email }}
      </a>
    </div>
  </div>

  <div class="form-inline">
    <app-sidebar-search></app-sidebar-search>
  </div>

  <!-- Sidebar Menu -->
  <nav class="mt-2" style="overflow-y: hidden">
    <ul
      class="nav nav-pills nav-sidebar flex-column"
      data-widget="treeview"
      role="menu"
      data-accordion="false"
    >
      <app-menu-item [menuItem]="{
                                     name: 'Activity.TITLE'|translate,
                                     iconClasses: 'fas fa-user',
                                     path: ['/']
                                  }"/>
      <app-menu-item [menuItem]="{
                                      name: 'Activity.TITLE'|translate,
                                      iconClasses: 'fas fa-user',
                                      path: ['/activity']
                                  }"/>  
      <app-menu-item [menuItem]="{
                                      name: '醫療評估表',
                                      iconClasses: 'fas fa-book-reader',
                                      path: ['/medical-form']
                                  }"/>                                                          
      <app-menu-item [menuItem]="{
                                      name: '認知優能計畫',
                                      iconClasses: 'fas fa-book-reader',
                                      path: ['/dementiability']
                                  }"/>                            
      <app-menu-item [menuItem]="{
                                     name: 'Record'|translate,
                                     iconClasses: 'fas fa-clipboard',
                                     path: ['/dashboard']
                                  }"/>
      <app-menu-item [menuItem]="{
                                     name: 'CarePlan.TITLE'|translate,
                                     iconClasses: 'fas fa-user-nurse',
                                     path: ['/care-plan']
                                  }"/>
      
      <!--<app-menu-item [menuItem]="{
                                     name: 'Kanban'|translate,
                                     iconClasses: 'fas fa-list-check',
                                     path: ['/kanban']
                                  }"/>
      <app-menu-item [menuItem]="{
                                     name: 'Calendar'|translate,
                                     iconClasses: 'fas fa-calendar-alt',
                                     path: ['/calendar']
                                  }"/>
      <app-menu-item [menuItem]="{
                                    name: 'Blank'|translate,
                                    iconClasses: 'fas fa-file',
                                    path: ['/blank']
                                  }"/>
      <app-menu-item [menuItem]="{
                                     name: 'Main Menu'|translate,
                                     iconClasses: 'fas fa-folder',
                                      children: [
                                          {
                                              name: 'Sub Menu'|translate,
                                              iconClasses: 'far fa-address-book',
                                              path: ['/sub-menu-1']
                                          },
                                          {
                                              name: 'Blank'|translate,
                                              iconClasses: 'fas fa-file',
                                              path: ['/sub-menu-2']
                                          }
                                      ]
                                  }"/>-->

<!--      <app-menu-item *ngFor="let item of menu" [menuItem]="item"/>-->
    </ul>
  </nav>
</div>
