<div>
  <app-content-header [title]="'Care Plan'"></app-content-header>
  <section class="content">
    <div class="container-fluid">
        <nav>
          <a routerLink="caregiver/checklist" routerLinkActive="active">checklist</a>
          <a routerLink="person/profile" routerLinkActive="active">Child 1</a>
          <a routerLink="person/profile/1" routerLinkActive="active">Child 2</a>
          <a routerLink="caregiver/responsibility" routerLinkActive="active">responsibility</a>
          <a routerLink="medical-history/medical-history" routerLinkActive="active">medical-history</a>
          <a routerLink="nurse-report/nurse-report-sheet" routerLinkActive="active">nurse-report</a>
          <a routerLink="risk-assessment" routerLinkActive="active">risk-accessmenet</a>
          <a routerLink="advance-care-plan" routerLinkActive="active">advance-care-plan</a>
          <a routerLink="elderly-medication-form" routerLinkActive="active">elderly-medication-form</a>
        </nav>
        <router-outlet></router-outlet>
    </div>
  </section>
</div>

