<div class="container text-center align-items-center justify-content-center">
  <div class="card card-default">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label>{{ 'Activity.PERSON-ADD.header'|translate}}</label>
            <input type="text" [(ngModel)]="carePersonId" [ngModelOptions]="{standalone: true}" class="form-control"
                   placeholder="Enter ...">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <button class="btn btn-success" (click)="queryCarePerson()">{{ 'Activity.PERSON-ADD.keyIn'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-warning ">
    <div class="card-header">
      <h3 class="card-title">{{ 'Activity.PERSON-ADD.system'|translate}}</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body text-center align-items-center justify-content-center col-12">
      <form>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>{{ 'Activity.PERSON-ADD.name'|translate}}</label>
              <input type="text" [(ngModel)]="carePerson.name" [ngModelOptions]="{standalone: true}"
                     class="form-control" placeholder="Enter ..."/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>{{ 'Activity.PERSON-ADD.height'|translate}}</label>
              <input type="text" [(ngModel)]="carePerson.height" [ngModelOptions]="{standalone: true}"
                     class="form-control" placeholder="Enter ..."/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>{{ 'Activity.PERSON-ADD.weight'|translate}}</label>
              <input type="text" [(ngModel)]="carePerson.weight" [ngModelOptions]="{standalone: true}"
                     class="form-control" placeholder="Enter ..."/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>{{ 'Activity.PERSON-ADD.disease'|translate}}</label>
              <input type="text" [(ngModel)]="carePerson.primaryDisease" [ngModelOptions]="{standalone: true}"
                     class="form-control" placeholder="Enter ..."/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>{{ 'Activity.PERSON-ADD.birthday'|translate}}</label>
              <div class="input-group date" id="reservationdate" data-target-input="nearest">
                <input type="text" bsDatepicker
                       [bsValue]="birthday"
                       [(ngModel)]="birthday" [ngModelOptions]="{standalone: true}"
                       [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }"
                       class="form-control datetimepicker-input"/>
                <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>{{ 'Activity.PERSON-ADD.team'|translate}}</label>
              <input type="text" [(ngModel)]="careTeam.name" [ngModelOptions]="{standalone: true}" class="form-control"
                     placeholder="Enter ...">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <button class="btn btn-success" (click)="addModel()">{{ 'Activity.PERSON-ADD.button'|translate}}</button>
            </div>
          </div>
        </div>
        <!--      <div class="row">-->
        <!--        <div class="col-sm-6">-->
        <!--          <div class="form-group">-->
        <!--            <button class="btn btn-success" (click)="test()">Test</button>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--      </div>-->
      </form>
    </div>
  </div>
</div>
